<div class="dashboard-container">

  <div class="dashboard-card">

    

    <h1>Welcome to the dashboard {{ user.username }}!</h1>

    <div class="profile-card">

      <h2>User Profile</h2>

      <p><b>Username:</b> {{ user.username }}</p>

      <p><b>Role:</b> {{ user.role }}</p>

      <p><b>Department:</b> {{ user.department || 'IT' }}</p>

      <p><b>Access Level:</b> {{ user.accessLevel || 'Basic' }}</p>

    </div>




    <div class="stats">

      <div class="stat-box">

        <h2>{{ filteredRecords.length }}</h2>

        <span>Visible Records</span>

      </div>

      <div class="stat-box">

        <h2>{{ user.role }}</h2>

        <span>Role</span>

      </div>

      <div class="stat-box">

        <h2>
          {{
            user.role === 'Admin'
            ? 'Full'
            : 'Limited'
          }}
        </h2>

        <span>Access</span>

      </div>

    </div>

    <input

      type="text"

      placeholder="Search Devices..."

      [(ngModel)]="searchTerm"

      (input)="filterRecords()"

      class="search-box"

    >

    <h2>Device Records</h2>

    <div class="records">

      <div

        class="record-card"

        *ngFor="let r of filteredRecords"

      >

        <h3>{{ r.device }}</h3>

        <p><b>Status:</b> {{ r.status }}</p>

        <p><b>Priority:</b> {{ r.priority }}</p>

        <p><b>Access:</b> {{ r.access }}</p>

      </div>

    </div>

    <button

      *ngIf="user.role === 'Admin'"

      routerLink="/admin"

    >

      Admin Panel

    </button>

    <button (click)="logout()">

      Logout

    </button>

  </div>

</div>